SECURE_CHAT_DEBUG_API_BASE_URL=https://dev-api.example.com/api/v1/
SECURE_CHAT_RELEASE_API_BASE_URL=https://api.example.com/api/v1/
SECURE_CHAT_DEBUG_HTTP_LOGGING=true
SECURE_CHAT_RELEASE_HTTP_LOGGING=false
SECURE_CHAT_DEBUG_SIGNAL_PROTOCOL=false
SECURE_CHAT_RELEASE_SIGNAL_PROTOCOL=false
SECURE_CHAT_SHOW_DEBUG_AUTH_INFO=true
SECURE_CHAT_RELEASE_USE_DEBUG_SIGNING=false
